*{margin: 0; padding: 0;}
/*html,body {
    height: 100%;
    background: gray;
} */
#than {
    height: 100%;
    transition: cubic-bezier(.38,-0.15,.92,.09) 0.5s;
    box-sizing: border-box;
    perspective: 2200px;
    overflow-x: hidden;  /*ko co thanh cuon ngang */
    background: gray;
}
.mautrang {
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.4s;
    transform-origin: 100% 0%;  /*origin tâm quay*/
}
.menutrai {
    min-height: 400px;
    background: #5cb85c;
    width: 300px;
    position: fixed;
    top: 0px;
    z-index: 2;
    transition: 0.4s;
}
.menutrai li:hover{
	background-color: gray;
}
.menutrai.vangdunglai {
    position: fixed;
    top: 49px;
}
.menutrai.vetrai {
    transform: translateX(-100%);
}
.den {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.len {
    opacity: 1;
    visibility: visible;
}
.dichphai {
    transform:translateX(300px);
}
.trangquay {
     transform: rotateY(-10deg);
}